:root {
    font: 400 14px "Roboto", sans-serif;
    background: aliceblue;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    width: 90%;
    min-height: 100vh;
    background: white;
}

.form {
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form__input {
    position: relative;
    width: 100%;
    height: 45px;
}

.form__input__field {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 0;
    border-bottom: 2px solid black;
    padding-top: 20px;
    z-index: 0;
}

.form__input__field:focus-visible {
    border: 0;
    border-bottom: 2px solid #a82d00;
    outline: 0;
}

.form__input__label {
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px;
    font-size: 11px;
    z-index: 1;
}

.form__submit {
    width: 100%;
    height: 45px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    background: #ff561c;
    color: white;
    transition: background-color 0.2s ease;
}

.form__submit:hover {
    background: #a82d00;
}

.form__submit[disabled] {
    background: #ff8657;
    cursor: wait;
}

.status {
    max-width: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.status__title {
    font-weight: bold;
    flex: 0 1 auto;
}

.status__screen {
    color: #187909;
    background: black;
    flex: 1 0 auto;
    width: 70%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    height: 60px;
    overflow: hidden;
    font-family: "monospace";
}

.status__screen--error {
    color: #ff0c0c;
}

.simulation {
    position: relative;
    min-height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.simulation__column {
    width: 120px;
    max-width: 32%;
}

.simulation__column img {
    width: 100%;
}

.cat-face {
    animation-duration: 1.5s;
    animation-name: shaking;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    position: absolute;
    height: 150px;
    top: 30px;
    left: 50%;
    z-index: 9;
}

.food {
    animation-duration: 0.5s;
    animation-name: shaking;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    height: 100px;
    position: absolute;
    top: 20px;
    left: 40%;
    z-index: 9;
}

.bowl {
    top: 100px;
    left: 50%;
    position: absolute;
    z-index: 10;
    height: 200px;
    transform: translateX(-50%);
}

@keyframes shaking {
    0% {
        transform: translate(-50%, 10px);
    }
    50% {
        transform: translate(-50%, -10px);
    }
    100% {
        transform: translate(-50%, 10px);
    }
}

.hide {
    display: none;
}

@media (max-width: 768px) {
    :root {
        font: 400 11px "Roboto", sans-serif;
    }

    .food {
        left: 45%;
        height: 75px;
    }

    .cat-face {
        height: 100px;
    }

    .bowl {
        top: 80px;
        height: 130px;
    }
}

@media (max-width: 426px) {
    .food {
        left: 45%;
        height: 60px;
    }

    .cat-face {
        height: 80px;
    }

    .bowl {
        top: 70px;
        height: 100px;
    }
}
